<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up72.hq.dao.OrderLogMapper">
    <resultMap id="RM_orderLog" type="com.up72.hq.model.OrderLog">
        <result property="id" column="ID" />
        <result property="orderId" column="ORDER_ID" />
        <result property="handleDate" column="HANDLE_DATE" />
        <result property="handleInfo" column="HANDLE_INFO" />
        <result property="handleUser" column="HANDLE_USER" />
    </resultMap>
    
    <sql id="orderLog_columns">
        T.ID,T.ORDER_ID,T.HANDLE_DATE,T.HANDLE_INFO,T.HANDLE_USER
    </sql>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO HQ_ORDER_LOG (
         ID, ORDER_ID, HANDLE_DATE, HANDLE_INFO, HANDLE_USER
        ) VALUES (
         #{id}, #{orderId}, #{handleDate}, #{handleInfo}, #{handleUser}
        )
    </insert>
    
    <update id="update" >
        UPDATE HQ_ORDER_LOG AS T SET
            T.ORDER_ID = #{orderId} , T.HANDLE_DATE = #{handleDate} , T.HANDLE_INFO = #{handleInfo} , T.HANDLE_USER = #{handleUser}  
        WHERE T.ID = #{id}  
    </update>

    <delete id="delete">
        DELETE FROM HQ_ORDER_LOG WHERE  ID = #{id}  
    </delete>
    
    <select id="findById" resultMap="RM_orderLog">
        SELECT <include refid="orderLog_columns" /> FROM HQ_ORDER_LOG AS T WHERE  T.ID = #{id}  
    </select>
    
    <select id="findPage" parameterType="map" resultMap="RM_orderLog">
     SELECT <include refid="orderLog_columns" />  FROM HQ_ORDER_LOG AS T
        <where>                          
           <if test="@Ognl@isNotEmpty(id)"> AND T.ID = #{id} </if>
           <if test="@Ognl@isNotEmpty(orderId)"> AND T.ORDER_ID = #{orderId} </if>
           <if test="@Ognl@isNotEmpty(handleDate)"> AND T.HANDLE_DATE = #{handleDate} </if>
           <if test="@Ognl@isNotEmpty(handleInfo)"> AND T.HANDLE_INFO = #{handleInfo} </if>
           <if test="@Ognl@isNotEmpty(handleUser)"> AND T.HANDLE_USER = #{handleUser} </if>
        </where>
    </select>

    
</mapper>